@CHARSET "UTF-8";

*, *:before, *:after { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

a.tableLinkItem { text-decoration:none; color:#000000;}
a.tableLinkItem:hover { text-decoration:underline; text-shadow: 0px 0px #000000;}
.tableHighlightLinkItem { text-decoration:none; color:#000066; font-weight:bold; text-shadow: 1px 1px #FFFFFF }
.tableHighlightLinkItem:hover { text-shadow: 0px 0px #000000;	}

.outer-table { width:100%;
 }
 
.inner-table { 
	height:100%; 
	width:100%; 
}

.outer-div { 
	overflow-y:auto; 
	overflow-x:hidden 
}

.inner-div { 
	border: 1px solid black;
	width:100%; 
}

.inner-table tr { 
	background-color:#EEFFEE;
 }
 
.wb-dialog { 
	font-family: verdana, tahoma, arial, sans-serif;
	background-color:#DDDDDD;
	border-radius:10px; 
	border:2px solid #333333; 
	font-size:10pt; 
	color: black; 
	text-shadow: 0px 0px #500303; 
	box-shadow: 2px 2px 10px #333333;
	-webkit-font-smoothing: antialiased; 
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.wb-dialog .pagecomponent { width:100%; border:1px solid black; border-radius:7px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased; }
.wb-dialog .header { background-color:#666666; border-radius:6px 6px 0px 0px; color:white; padding:0.25em 1em; }
.wb-dialog input[type=text], select, textarea, table { }
.wb-dialog table { padding: 0px; }
.wb-dialog input[type=text], input[type=number], select, textarea { width:100%; padding:4px; }
#successDialog { position: fixed; display: none; top:12%; z-index:10; }
#errorDialog { position: fixed; display: none; top:12%; z-index:10; }
#popupAddContent { position: fixed; display: none; top:14%; z-index:10; }
#popupEditContent { position: fixed; display: none; top:18%; z-index:10; }
#popupManageTabs { position: fixed; display: none; top:18%; min-width:50%; z-index:10; }
#popupManageRightbar { position: fixed; display: none; top:18%; min-width:50%; z-index:10; }
#popupManageArticles { position: fixed; display: none; top:18%; min-width:50%; z-index:10; }
#popupMenuGroups { position: fixed; display: none; top:15%; width:70%; z-index:10; }
#popupManageMenus { position: fixed; display: none; top:18%; width:75%; z-index:10; }
#popupHeadersDlg { position: fixed; display: none; top:18%; min-width:40%; max-width:75%; z-index:10; }
#popupChangeThemeDlg { position: fixed; display: none; top:18%; min-width:20%; max-width:40%; z-index:10; }
#popupContentDump { position: fixed; display: none; top:12%; width:70%; z-index:10; }
#popupUserDump { position: fixed; display: none; top:12%; width:70%; z-index:10; }
#debugDialog { position: fixed; display: none; top:12%; z-index:10; }
